.content {
  min-height: 285px;
  overflow: hidden;

  font-family: "Microsoft YaHei";
  ul {

    //margin-left: -19px;
    width: 1222px;
    clear: both;
    overflow: hidden;
    li {
      float: left;
      list-style-type: none;
      width: 225px;
      height: 280px;
      overflow: hidden;
      .thumb{
        width: 224px;
        height: 224px;
        overflow: hidden;
        img{
          max-width: 100%;
          max-height: 100%;
          display: block;
            transition: 1s;
            &:hover {
              transform: scale(1.2);
            }
        }
      }
      .p1{
        padding-top: 13px;
      }
      .p2{
        padding-top: 3px;
        margin-left: -3px;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
    li  {
      margin-right: 19px;
      margin-bottom: 34px;
<<<<<<< HEAD
      p{
        font-size: 14px;
        height: 20px;
        overflow: hidden;
      }
      .red {
        color: $color;
        font-size: 19px;
      }
    }
  }
}
=======
    }
  }
}
p{
  font-size: 14px;
  height: 20px;
  overflow: hidden;
}
.red {
  color: $color;
  font-size: 19px;
}
>>>>>>> 7e11ecbf3564c004c22f3eb3c674720b8b1e6c19
