.content {
  min-height: 285px;
  overflow: hidden;

  font-family: "Microsoft YaHei";
  ul {

    //margin-left: -19px;
    width: 1222px;
    clear: both;
    overflow: hidden;
    li {
      float: left;
      list-style-type: none;
      width: 225px;
      height: 270px;
      overflow: hidden;
      div {
        overflow: hidden;
        cursor: pointer;


        img{
          transition: 1s;
          width: 224px;
          height: 224px;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
    li  {
      margin-right: 19px;
      margin-bottom: 30px;
    }
  }
}
p{
  font-size: 14px;
  height: 20px;
  overflow: hidden;
}
.red {
  color: $color;
  font-size: 19px;
}
