
body{
  margin: 0;
  padding: 0;
  background: #ed3247;
}

.app{
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.top{
  height: 9rem;
  width: 8.5rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  img{
    max-width: 100%;
  }
}

.S1{
  height: 6.5rem;
  width: 8.5rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  img{
    max-width: 100%;
  }
  a{
    display: block;
    position: absolute;
    bottom: 1.3rem;
    right: 3.16rem;
    height: 0.7rem;
    width: 2.5rem;
  }
}
.S2{
@extend .S1;
  height:7.9rem;
  padding-bottom: 1.3rem;
  a{
    bottom: 4.3rem;
  }
}
.S3{
  @extend .S1;
    height: 10.2rem;
    a{
      bottom: 5rem;

    }
}


.smartDwn{ position:fixed; left: 0; bottom: 0; height: 1.5rem; width: 100%;  z-index: 2; overflow: hidden;}
.smartDwn .smartDn_open{color: #FFFFFF; display: -webkit-box; height: 1.5rem; line-height: 2.5rem;  background-color: #fff; font-size: 24px; }
.smartDn_open .sd_cart{display: block; background: url(http://sf.panli.com/FrontEnd/images20090801/special/annual10th_bill/decade/sd_cart.png) no-repeat; width: 1.2rem; height: 0.9rem; background-size: contain; margin: .3rem 0 .5rem .5rem;}
.smartDn_open .sd_dn{    display: block;
    height: .8rem;
    line-height: .8rem;
    background: #ff6e6e;
    padding: 0 .3rem;
    text-align: center;
    font-weight: 400;
    border-radius: .125rem;
    margin: .3rem .6rem .3rem 0;
  }
.smartDn_open > span{-webkit-box-flex: 1; display: block; height: 2.5rem; line-height: 1.5rem; font-size: 30px; color: #444;}
